.master_menu, .master_menu_active {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
}

.master_menu_active {
    font-weight: bold;
}

.master_menu_item {
    list-style-type: none;
    margin-top: 11px;
    margin-left: 23px;
}

.master_menu_item_title, .master_menu_item_title_active {
    text-decoration: none;
    color: inherit;
}
.master_menu_item_title_active {
    font-weight: bold;
}
.master_menu_item_title:hover {
    text-decoration: underline;
}

.master_menu_wrapper, master_menu_wrapper_mobile {
    margin: 0 0 16px;
    padding: 0 0 14px;
    border-bottom: 1px #cfcfcf solid;
}

.master_menu_wrapper_mobile {
    display: none;
}

.master_menu_sizes, .master_menu_colors {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.master_menu_colors {
    flex-direction: column;
    margin: 5px 0 0 18px;
}

.color_container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.color_container:hover {
    cursor: pointer;
}


@media (max-width: 765px) {
    .master_menu_wrapper_mobile {
        display: flex;
        margin: 0 0 10px 0;
        width: 100%;
        justify-content: center;

    }
}