.order_wrapper {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 16px;
    width: 1047px;
    height: max-content;
    display: block;
    top: 379px;
    margin: 0 auto;
}

.order_header {
    display: flex;
    justify-content: space-between;
}

.order_title {
    font-size: 29px;
    font-weight: bold;
    padding: 17px;
    margin-left: 15px;
}

.order_item_area {
    text-decoration: none;
    color:inherit;
}

.order_closebtn {
    height: fit-content;
    font-size: 19px;
    margin-right: 16px;
    margin-top: 13px;
}
.order_closebtn:hover {
    cursor: pointer;
}

.order_item {
    border: 1px solid #cfcfcf;
    width: 980px;
    height: 85px;
    margin: 0 auto 19px auto;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order_img_area {
    padding: 5px;
    margin-left: 28px;
}
.order_img {
    width: 63px;
    height: 66px;
    border-radius: 12px;
}

.order_item_name {
    font-size: 24px;
    margin-left: 19px;
    margin-right: 20px;
}

.order_price {
    margin-left: auto;
    margin-right: 15px;
    font-size: 24px;
}

.order_payment {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .order_wrapper {
        width: 100%;
        left: 10px;
    }
    .order_item {
        width: 90%;
    }
    .order_img_area {
        margin: 0;
    }
}