.item_container {
    width: 1280px;
    height: 768px;
    margin: 21px auto 0;
    background-color: #fff;
    border-radius: 16px;
}

.item_title {
    margin: 0 0 0 147px;
    padding-top: 35px;
    font-size: 44px;
}

.item_image_container {
    width: 352px;
    margin-top: 10px;
}

.item_image {
    width: inherit;
}

.item_info {
    display: flex;
    justify-content: center;
}

.item_additional{
    padding-left: 67px;
    border-left: 1px solid #cbb6b6;
    margin-left: 63px;
    display: flex;
    flex-direction: column;
}

.item_buybutton {
    text-align: center;
}

.item_price {
    font-size: 44px;
    margin-left: auto;
    font-weight: bold;
}

.item_desc {
    font-size: 32px;
    margin-bottom: 27px;
}

.item_description {
    display: flex;
    font-size: 19px;
    font-weight: normal;
    margin-top: 10px;
}

.color_wrapper {
    display: flex;
}

.item_status, .item_statusIcon {
    border-radius: 13px;
}

.item_statusIcon {
    padding: 3px;
    width: 31px;
    height: 31px;
    margin-right: 10px;
}
.item_statusIcon:hover {
    cursor: pointer;
}

.item_error {
    color: red;
    font-size: 20px;
}

.item_buyarea {
    display: flex;
}

@media (max-width: 768px) {
    .item_container {
        width: 90%;
        height: max-content;
    }
    .item_title {
        font-size: 28px;
        margin: 0;
        text-align: center;
        padding: 10px 0 0;
    }
    .item_info {
        flex-direction: column;
        align-items: center;
    }
    .item_image {
        width: 100%;
        border-radius: 12px;
    }
    .item_image_container {
        display: flex;
        width: 310px;
        height: 378px;
    }
    .item_additional {
        padding: 0;
        margin: 33px 0;
        width: 80%;
        border-left: none;
        border-top: 1px solid #cbb6b6;
    }
    .item_price {
        font-size: 28px;
        margin-top: 10px;
    }
    .item_desc {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 19px;
        margin-bottom: 21px;
    }
    .item_description {
        font-size: 17px;
        flex-wrap: wrap;
    }
    .item_buyarea {
        justify-content: center;
    }
    .item_buybutton a {
        width: 220px !important;
    }
}