.categories_item, .categories_item_additional {
    display: flex;
    flex-direction: row;
}

.categories_item, .categories_item_mini {
    border-radius: 23px;
    margin-bottom: 16px;
    background-color: #fff;
    flex-direction: column;
}

.categories_item {
    width: 615px;
}

.categories_item_mini {
    width: 380px;
}

.categories_item_name_mini {
    font-size: 21px;
}

.categories_item_image, .categories_item_image_mini {
    border-radius: 16px;
    background-size: cover;
    margin: 31px auto 0;
}

.categories_item_image {
    width: 553px;
    height: 318px;
}

.categories_item_image_mini {
    width: 335px;
    background-size: cover !important;
    height: 188px;
}

.categories_item_name {
    font-size: 32px;
}

.categories_item_additional {
    margin: 0 30px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .categories_item, .categories_item_mini {
        width: 90%;
    }
    .categories_item_name, .categories_item_mini {
        font-size: 21px;
    }
    .categories_item_image, .categories_item_image_mini {
        width: 90%;
        height: 188px;
        background-size: cover!important;
    }
}