.size {
    margin-right: 22px;
    border: 1px solid #cfcfcf;
    margin-bottom: 13px;
    border-radius: 10px;
    padding: 6px;
}
.size:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}