.catalog_container {
    height: fit-content;
    width: 1280px;
    min-height: 768px;
    margin: 21px auto;
    background-color: #fff;
    border-radius: 16px;
}

.catalog_title {
    line-height: 20px;
    padding-top: 28px;
}
.catalog_title_container {
    margin-left: 32px;
    max-height: min-content;
}

.catalog_masterdetail {
    height: calc(100% - 71px);
    display: flex;
}

.catalog_master {
    min-width: 260px;
    width: 260px;
    margin: 0 0 0 34px;
    border-right: 1px #cfcfcf solid;
}

.catalog_detail_items {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 10px;
}
.catalog_detail {
    width: 100%;
}
.catalog_detail_container {
    display: flex;
    flex-direction: column;
}
.catalog_detail_pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    align-items: center;
}
.filter_icon {
    display: none;
}
.catalog_detail_pagination_item {
    border: 1px solid #646464;
    width: 44px;
    height: 23px;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    margin-right: 16px;
}
.catalog_detail_pagination_item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
}
.catalog_container_empty {
    margin-top: 21px;
}
.catalog_container_empty_title {
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}

.catalog_container_empty_wrapper {
    display: flex;
    min-height: inherit;
}
.catalog_container_empty_image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
    background-image: url("../../img/42793.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 765px) {
    .catalog_container {
        width: 95%;
    }
    .catalog_title_container {
        text-align: center;
        margin: 0;
    }
    .catalog_masterdetail {
        flex-direction: column;
    }
    .catalog_detail_items {
        margin: 0 26px;
    }
    .catalog_master {
        width: 90%;
        display: none;
        border-right: none;
    }
    .filter_icon {
        display: flex;
        background-image: url("../../img/sort_FILL0_wght400_GRAD0_opsz48.svg");
        width: 32px;
        height: 32px;
        position: absolute;
        margin-top: 23px;
        margin-left: 29px;
        background-size: contain;
    }
}